body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:15px;
}

.container{
  max-width:900px;
  margin:auto;
}

h1{
  color:#00ffcc;
}

input,select{
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:6px;
  border:none;
}

button{
  padding:10px;
  margin:5px 0;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background:#00ffcc;
}

.card{
  background:#111827;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #1f2937;
}

.card a{
  color:#00ffcc;
}

.badge{
  display:inline-block;
  background:#1f2937;
  color:#00ffcc;
  padding:5px 10px;
  border-radius:6px;
  margin:3px;
  font-size:12px;
  border:1px solid #00ffcc;
}

@media(max-width:600px){
  button{
    width:100%;
  }
}