*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0f172a;
  color:#fff;
  padding:15px;
}

/* container */
.container{
  max-width:900px;
  margin:auto;
}

/* header */
h1{
  color:#00ffcc;
  margin-bottom:10px;
}

h2{
  margin:15px 0 10px;
}

/* button */
button{
  padding:10px 12px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  margin:5px 0;
  font-size:14px;
}

/* logout */
button[onclick="logout()"]{
  background:#ef4444;
  color:white;
}

/* add */
button[onclick="addFaucet()"]{
  background:#00ffcc;
  color:#000;
  font-weight:bold;
}

/* edit */
button[onclick*="editFaucet"]{
  background:#3b82f6;
  color:white;
}

/* delete */
button[onclick*="deleteFaucet"]{
  background:#ef4444;
  color:white;
}

/* input */
input{
  width:100%;
  max-width:400px;
  padding:10px;
  margin:5px 0;
  border-radius:6px;
  border:none;
  outline:none;
}

/* form */
.form{
  display:flex;
  flex-direction:column;
  gap:8px;
  max-width:400px;
}

/* list */
#list{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:10px;
}

/* card */
#list div{
  background:#111827;
  padding:12px;
  border-radius:8px;
  border:1px solid #1f2937;
}

/* link */
#list a{
  color:#00ffcc;
  text-decoration:none;
}

/* tablet */
@media(max-width:768px){
  body{
    padding:10px;
  }

  input{
    max-width:100%;
  }
}

/* hp */
@media(max-width:480px){
  button{
    width:100%;
  }
}