body{
font-family: Arial;
background:#0f1419;
color:white;
margin:0;
padding:20px;
}

.container{
max-width:900px;
margin:auto;
}

h2{
text-align:center;
color:#00ff99;
}

.form-box{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:20px;
}

input{
padding:10px;
border:none;
border-radius:6px;
}

button{
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
background:#00ff99;
font-weight:bold;
}

button:hover{
opacity:0.8;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #333;
text-align:left;
}