body{
  margin:0;
  font-family:Arial;
  background:#0b0f1a;
  color:#fff;
  padding-bottom:60px;
}

/* HEADER */
.header{
  position:sticky;
  top:0;
  background:#111827;
  padding:10px;
}

input{
  width:100%;
  padding:10px;
  margin-top:8px;
  border:none;
  border-radius:8px;
  background:#0f172a;
  color:#fff;
}

/* MARKET LIST */
.container{
  padding:10px;
}

.coin{
  display:flex;
  justify-content:space-between;
  padding:12px;
  background:#111827;
  margin:8px 0;
  border-radius:12px;
  cursor:pointer;
}

/* DETAIL PAGE (BINANCE STYLE) */
.detail{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#0b0f1a;
  display:none;
  flex-direction:column;
  z-index:999;
  padding:10px;
}

.detail-header{
  display:flex;
  align-items:center;
  gap:10px;
}

.detail-header span{
  font-size:22px;
  cursor:pointer;
}

.price-box{
  margin-top:10px;
}

.tf{
  display:flex;
  gap:8px;
  margin:10px 0;
}

.tf button{
  flex:1;
  padding:8px;
  border:none;
  border-radius:8px;
  background:#111827;
  color:#fff;
}

/* CANVAS */
canvas{
  width:100%;
  height:300px;
  background:#0f172a;
  border-radius:10px;
}